* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 5px;
    height: 400px;
}
nav, .banner {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}
.navbar-link {
    list-style-type: none;
    display: inline-flex;
}
.navbar-link li {
    display: inline-block;
    margin: 10px;
}
.banner {
    margin-top: 50px;
}
.banner-title {
    font-weight: bolder;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
}
.banner-img {
  width: 40%;
  border: 1px solid slategrey;
  display: flex;
  align-items: center;
  height: 150px;
}
.banner-img p {
  margin: auto;
}
.btn-signup {
    margin-left: 10%;
    margin-top: 10px;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    padding: 5px 15px;
    border:none;
    border-radius: 10px;
}
.navbar-logo {
    font-size: 24px;
}

.navbar-link, .banner-title_desc {
    font-size: 18px;
}
.banner-text {
    margin-right: 10%;
}
.main {
    margin-top: 20px;
    text-align: center;
}

.main-infos {
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
}
.main-infos__title {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.main-infos__items {
    width: 20%;
}

.main-infos__items div {
    border: 2px solid #3882F6;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.quotes {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #E5E7EB;
    height: 200px;
    padding: 51px;
}
.quotes blockquote p {
    margin:auto;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.quotes blockquote cite {
    font-style: normal;
    float: right;
    font-size:20px;
}

